.singlePage {
  display: flex;
  height: 100%;

  .details {
    flex: 3;

    .wrapper {
      padding-right: 50px;

      .info {
        .top {
          display: flex;
          justify-content: space-between;

          .post {
            display: flex;
            flex-direction: column;
            gap: 20px;

            h1 {
              font-weight: 400;
            }

            .address {
              display: flex;
              align-items: center;
              gap: 5px;
              color: #888;

              img {
                width: 16px;
                height: 16px;
              }
            }

            .price {
              padding: 5px 10px;
              width: max-content;
              border-radius: 5px;
              background: rgba(254, 205, 81, 0.438);
              font-size: 16px;
              font-weight: 400;
            }
          }

          .user {
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: center;
            padding: 20px;
            font-weight: 600;
            gap: 10px;
            border-radius: 10px;
            height: max-content;
            background: rgba(254, 205, 81, 0.209);

            img {
              width: 30px;
              height: 30px;
              border-radius: 50%;
              object-fit: cover;
            }
          }
        }
        .bottom {
          margin-top: 20px;
          line-height: 20px;
          color: #555;
        }
      }
    }
  }

  .features {
    flex: 2;
    background: #fcf5f3;
    .wrapper {
      padding: 0px 10px;
    }
  }
}
